/*
* Mia
* Due Date
* Project Name and Description
*/

/* The universal selector */

* {

}

/* Body attributes here */

body {
    width: %;
    margin: auto;
    background-color: lightblue;
    font-family: monospace;
}

h1 {
    background-color: navy;
    color: white;
}

p { 
    color: slateblue;
}

#redText {
    color: darkblue; 
}

.greenText {
    color: mediumpurple;
}